<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="violet">
    <h1 style="color: rgb(250, 250, 250);">hello world</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quis aperiam voluptatem reiciendis, nostrum quibusdam adipisci nemo quam eius unde, explicabo molestiae reprehenderit cumque consequatur voluptatum qui! Doloribus distinctio dignissimos facilis sapiente explicabo nulla atque, cupiditate maiores saepe exercitationem nam obcaecati blanditiis sequi unde itaque maxime ea ipsum molestias expedita.</p>



    this is the change i made
</body>
</html>